---
title: Examples - Page Verification
---

# Examples - Page Verification

## Overview

It is very important when load testing a target application that there is some form of page verification done with each step. This verification acts not only as a way to ensure you are on the correct page or part of the application but also serves to correctly calculate the response time for a step.

If you don't have a way of verifying the resultant page then you would just be timing the action of clicking on a link or button rather than taking into account the resulting page load and display time.

## Contents

1. [Page Verification - By Text](examples_verification_bytext.md)
2. [Page Verification - By Object Properties](examples_verification_byobject.md)

