.bg--cli {
	background-color: rgba(98, 2, 238, 0.04);
}

.bg--mu {
	background-color: rgba(155, 206, 211, 0.1);
}

h2 {
	font-size: 2.25rem;
	line-height: 1.25;
	font-weight: 400;
	text-align: left;
}

main {
	display: flex;
	flex-direction: column;
}

.section--v2 {
	margin: 0;
	padding: 5rem 0;
	font-size: 1.125rem;
	font-weight: 300;
	text-align: justify;
}

.section--v2 .container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.left-side {
	/* width: calc(100% * 2 / 3); */
	width: 60%;
	padding: 0 2.5rem;
}

.left-side,
.right-side {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.section--v2:nth-child(2n) .container {
	flex-flow: row-reverse;
}

.right-side {
	/* width: calc(100% / 3); */
	width: 40%;
	padding: 0 1rem;
}

.right-side img {
	max-width: 100%;
}

.section--v2 ul {
	list-style: none;
	margin: 0;
}

.section--v2 ul li {
	line-height: 1.5;
	margin-bottom: 1.125rem;
	position: relative;
}

.section--v2 ul li::before {
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 50%;
	top: 0.6rem;
	left: -1.5rem;
}

.bg--cli ul li::before {
	background-color: rgb(113, 53, 146);
}

.bg--playwright ul li::before {
	background-color: rgb(50, 77, 91);
}

.bg--html-report h3 {
	font-size: 1.4rem;
	font-weight: 300;
	margin: 2.5rem 0 1.5rem 0;
	line-height: 1.5;
}

.bg--html-report .btn--get-started {
	width: 10rem;
	height: 3.5rem;
	border: 0;
	background-color: rgb(61, 123, 230);
	text-align: center;
	font-weight: 600;
	font-size: 1rem;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.02rem;
	cursor: pointer;
	border-radius: 5px;
	margin-right: 2rem;
}

.bg--html-report .view-docs {
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5;
	color: rgb(86, 177, 130);
	letter-spacing: 0.02rem;
	text-transform: uppercase;
}

.bg--html-report .view-docs:hover {
	text-decoration: none;
}

@media only screen and (max-width: 1024px) {
	.section--v2 {
		padding: 2rem;
	}

	.section--v2 .container,
	.section--v2:nth-child(2n) .container {
		flex-flow: column-reverse;
	}

	.left-side,
	.right-side {
		width: 100%;
		padding: 2rem 0;
	}

	.right-side img {
		max-width: 500px;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 768px) {
	.right-side img {
		max-width: 300px;
	}

	.section--v2 h2 {
		text-align: center;
	}
}
