.img {
	height: 30px;
}

.filtered {
	filter: opacity(0.4) grayscale(1);
}

.light {
	border: 1px solid var(--ifm-color-zumthor);
	background-color: var(--ifm-color-zumthor);
}

.dark {
	border: 1px solid var(--ifm-color-shark);
	background-color: var(--ifm-color-shark);
}

.container {
	padding: 1rem;
	width: 100%;
	border-radius: 10px;
}

table {
	display: table;
}

tr {
	background: none !important;
	border: none !important;
}

th {
	border: none !important;
}

td {
	border: none !important;
}

th:nth-child(1) {
	text-align: left;
}

td:nth-child(2),
td:nth-child(3) {
	text-align: center;
	max-width: 200px;
}
